.ActiveTabButton {
  border: transparent;
  background-color: transparent;
  color: blue;
  text-underline-style: dash;
}

.InactiveTabButton {
  border: transparent;
  color: #828282;
  background-color: transparent;

}

.Title {
  font-size: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-style: italic;
}