.docText {
    white-space: pre-wrap;
}

.characterObject {
    padding: 20px;
    background: #EFF0F6;
    border-radius: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.characterTitle {
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
}

.buttons {
    font-size: 14px;
    border-radius: 10px;
    padding: 8px 12px;
    color: white;
    margin-left: 20px;
}

.blue_button {
    border-radius: 10px;
    padding: 8px 16px 8px 12px;
    margin-left: 20px;
    background: rgba(47, 128, 237, 1);
    display: inline-flex;
    vertical-align: middle;
}

.red_button {
    border-radius: 10px;
    padding: 8px 16px 8px 12px;
    background: rgba(235, 87, 87, 1);
    display: inline-flex;
    vertical-align: middle;
}

.SingleAlias {
    padding: 6px 8px 6px 12px;
    background: #E0E0E0;
    font-size: 14px;
    border-radius: 6px;
    display: inline-flex;
    vertical-align: middle;
}

.AliasList {
    background: white;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
}

.characterAliases {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    flex: none;
    order: 1;
    flex-grow: 0;
    width: 60%;
    padding-left: 40px;
}

.aliasListContainer {
    flex: auto;
    order: 1;
    flex-grow: 100;
    width: auto;
}

.aliasWordContainer {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 40px;
}
.characterStats {
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 40%;
}

.characterMetadata {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
}