.ActiveTabButton {
  background-color: transparent;
  color: blue;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: blue;
}

.InactiveTabButton {
  border: transparent;
  color: #828282;
  background-color: transparent;

}

.Title {
  font-size: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-style: italic;
}

.Divider {
  margin-top: -2px;
  margin-bottom: 20px;
}